<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-4 p-2">
      <div class="row d-flex justify-content-center ">
        <input  class="col-9" pInputText type="text" placeholder="anything you want" #filter>

        <input  class="col-9" pInputText type="text" placeholder="filter by source" #filterbysource>
        <div>
          <p-button
            label="Search"
            icon="pi pi-check"
            [loading]="loading"
            (onClick)="filterResults(filter.value)" />

          <button class="col-3 btn btn-outline-primary" (click)="filterBySourceResults(filterbysource.value)">Search</button>
        </div>
      </div>
      <div class="m-2"  *ngFor="let item of items">
        <app-article [article] ="item"></app-article>
      </div>
    </div>

  </div>

</div>

