<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10 p-2">
      <div class="row d-flex justify-content-center ">
        <div>
          <input class="col-4" pInputText type="text" placeholder="anything you want" #filter>
          <p-checkbox
            class="m-1"
            [(ngModel)]="filterList"
            label="by date"
            name="filterList"
            value="ByDate"/>
          <p-checkbox
            class="m-1"
            [(ngModel)]="filterList"
            label="by Source"
            name="filterList"
            value="BySource"/>
          <div class="col-12" *ngIf="filterList.includes('BySource')">
            <p-autoComplete
              class="col-12"
              placeholder="tab to filter by Source"
              [readonly]="suggestions.length<1"
              [(ngModel)]="selectedItem"
              [suggestions]="suggestions"
              (completeMethod)="search($event)"
              (onSelect)="filterBySourceResults($event.value)"/>
          </div>
          <div class="col-12" *ngIf="filterList.includes('ByDate')">
            <p-calendar
              [(ngModel)]="rangeDates"
              selectionMode="range"
              [readonlyInput]="true"/>
          </div>


          <p-button
            label="Search"
            icon="pi pi-check"
            [loading]="loading"
            (onClick)="filterResults(filter.value)"/>
        </div>


      </div>
      <!--https://www.youtube.com/watch?v=ywPOYBDlQoo-->
      <div class="m-2" *ngFor="let item of items; trackBy: trackById; let i = index">
        <app-article [article]="item"></app-article>
      </div>
    </div>

  </div>

</div>

